*
{
    margin: 0;
    padding: 0;
    border: 0;
}

body
{
     font-family: "Roboto", serif;
}

.first-section
{
    background-color: #1F2937;
}

#header-logo
{
    font-size: 24px;
    color: #F9FAF8;
}

.header-link
{
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px;
}

.navbar
{
    display: flex;
}

.navbar-left, .navbar-right
{
    display: flex;
    flex: 1;
    justify-content: center; /* Up Down Centering */
    align-items: center; /* Left Right Centering */
}

.content
{
    display: flex;
    margin: 50px;
}

.content-left
{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center; /* Up Down Centering */
    margin-left: 360px;
}

.p-content-left
{
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up
{
    color: white;
    background-color: #3882F6;
    height: 25px;
    width: 80px;
    border: 1px #3882F6;
    border-radius: 10px;
    margin-top: 10px;
}

.content-right
{
    display: flex;
    flex: 1;
    justify-content: center; /* Up Down Centering */
    align-items: center; /* Left Right Centering */
    margin-right: 210px;
}


.row-blocks
{
    display: flex;
    justify-content: space-between;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.blue-box
{
    border: 2px solid #3882F6;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.p-second
{
    text-align: center;
    font-size: 18px;
}

.third-section
{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
}

.p-third
{
    font-size: 18px;
    font-weight: bold;
    margin-left: 600px;
    text-align: center;
}

#h3
{
    font-size:36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    text-align: center;
}

.fourth-section
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.blue-container
{
    color: white;
    display: flex;
    height: 45%;
    width: 75%;
    background-color: #3882F6;
}

#h4
{
    font-size: 24px;
}


.fourth-left
{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-left: 100px;
    justify-content: center;
}

.fourth-right
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 200px;
}

.fourth-button
{
    background-color: #3882F6;
    color: white;
    height: 40px;
    width: 100px;
    border: 2px solid white;
    border-radius: 10px;
}

.footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    height: 75px;
}